 @model vidly.Viewmodels.RandomMovieViewModel


    
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ 
    var className = Model.Customers.Count > 1? "popular" : null;
}

<h2 class=" @className">@Model.Movie.Name</h2>

@if(Model.Customers.Count == 0)
{
    <text>No one rented yet.</text>
}

<ul>
    @foreach (var Customer in Model.Customers)
    {
        <li>
            
            @Customer.Name
        </li>
    }
</ul>

  